@font-face {
  font-family: "Tajawal";
  src: url("/fonts/Tajawal-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: Tajawal;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

